$bg-color: #000000;
$text-color: #00ff00;
// ::-webkit-scrollbar {
//   display: none;
// }
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
  color: #00ff00; /* Green text color */
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  line-height: 1.4;
  height: auto;
  scroll-behavior: smooth;
  border: 2.5px solid #00ff00; /* Green border */
  padding: 10px;
  margin: 10px;
  
  
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color: inherit;
  }
  button {
    background-color: #00ff00;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Courier New", monospace; /* Optional: Apply a monospaced font */
  }
  .cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px;
    background-color: #000; /* Update the background color */
    text-align: center;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .cookie-banner.hide {
    opacity: 0;
  }

  .cookie-banner button {
    background-color: #00ff00;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Courier New", monospace; /* Optional: Apply a monospaced font */
  }

  .cookie-banner .message {
    display: inline-block;
    margin-right: 10px;
    color: #fff; /* Update the text color */
    font-family: "Courier New", monospace; /* Optional: Apply a monospaced font */
  }
}

header {
  height: 100%;
  .alternative-text2 {
    display: none;
  }
  .chevron {
    background: url("../images/chevron-double-down-svgrepo-com.svg");
    width: 50px;
    height: 50px;
    background-size: cover;
    animation: chevronAnimation 3s infinite;
    margin-top: 4rem !important;
  }

  @keyframes chevronAnimation {
    0% {
      transform: translateY(0); /* Start at the default position */
    }
    50% {
      transform: translateY(-100%); /* Move up by 100% of the height */
    }
    100% {
      transform: translateY(0); /* Move back to the default position */
    }
  }
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden; /* Disable vertical scrolling on the loading screen */
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #progress-bar {
    width: 80%;
    height: 20px;
    background-color: #222;
    margin-bottom: 20px;
    position: relative;

    #progress-bar-fill {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #00ff00; /* Green progress bar */
      width: 0%;
      transition: width 0.5s;
    }
  }
  
}

#console {
  //   border: 5px solid #00ff00; /* Green border */
  //   padding: 10px;
  //   margin: 10px;
  background-color: black;
  //   height: 300px;
  overflow: scroll;
  opacity: 1;
  transition: opacity 1s;
  height: 90vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.pixel {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #00ff00; /* Green pixel */
}
.navbar {
  background-color: $bg-color;
  padding: 10px;
  text-align: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin-right: 10px;
  }

  a {
    color: $text-color;
    text-decoration: none;
    padding: 15px 30px;
    border: 1px solid $text-color;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: $text-color;
      color: black;
      transform: scale(1.1);
      box-shadow: 0 0 10px $text-color;
    }
  }
}

.about {
  background-color: black;
  color: #00ff00; // Green text color
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 3rem;
  h1 {
    font-size: 45px;
    text-align: center;
    padding-bottom: 20px;
    color: #00ff00;
    font-weight: 700;
  }

  .card-body {
    position: relative; // For absolute positioning of the typing effect
    overflow: hidden; // Hide overflow of typing effect

    .card-title {
      font-size: 35px;
      text-decoration: underline;
      margin-bottom: 1rem;
    }

    .card-text {
      font-size: 18px;
    }
  }

  .carousel-inner {
    padding: 20px;

    .carousel-item img {
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
    }
  }

  .carousel-indicators {
    li {
      background-color: rgba(0, 255, 0, 0.3);
      border-color: #00ff00;

      &.active {
        background-color: #00ff00;
      }
    }
  }
}
.projects {
  height: 60vh;
  padding-top: 2rem;
  h1 {
    font-size: 45px;
    text-align: center;
    padding-bottom: 20px;
    color: #00ff00;
    font-weight: 700;
  }
  .console-prompt {
    font-family: monospace;
    i {
      font-size: 24px;
    }
    .console-command {
      background-color: #000;
      color: #fff;
      padding: 10px;
      display: flex;
      align-items: center;

      .console-prompt-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
          font-size: 25px !important;
        }
        h4 {
          margin: 10px 0;
        }

        a {
          color: #0f0;
          text-decoration: underline;
          font-size: 18px;
        }
      }
    }
  }
}
.skills {
  
  h1 {
    font-size: 45px;
    text-align: center;
    padding-bottom: 20px;
    color: #00ff00;
    font-weight: 700;
  }
  .input-container {
    display: flex;
    align-items: center;
  }
  
  #command-input {
    padding: 5px;
    margin-right: 10px;
  }
  
  #enter-button {
    font-size: 18px;
    padding: 5px 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  .parent {
    font-size: 20px; /* Adjust the font size as per your preference */
  }
  .child {
    font-size: 15px; /* Adjust the font size for the child elements */
  }
  .output {
    font-family: monospace;
    white-space: pre;
    color: #00ff00;
    width: 500px; /* Adjust the width as desired */
    margin: 0 auto; /* Center the element horizontally */
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
  }

  li {
    margin: 0;
    padding: 0 0 0 20px;
    position: relative;
    color: #00ff00;

    &:before {
      content: ">";
      position: absolute;
      top: 0;
      left: -20px;
      font-weight: bold;
      color: #00ff00;
    }

    &:last-child:before {
      border-left: none;
    }
  }

  ul ul {
    margin-top: 10px;
  }

  ul ul li:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    border-top: 2px solid #00ff00;
    width: 20px;
  }

  ul ul li:last-child:before {
    border-left: 20px solid transparent;
  }
}


.vintage-text,
.vintage-text-art {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  line-height: 1.4;
}
.retro-contact {
  background-color: #222;
  color: #fff;
  padding: 80px 0;

  .section-heading {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
  }

  .section-subheading {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 75px;
    color: #fff;
  }

  form {
    .form-group {
      position: relative;
      margin-bottom: 30px;

      label {
        position: absolute;
        top: 0;
        left: 10px;
        color: #ffcc00;
        font-size: 14px;
        font-weight: bold;
        transition: all 0.3s ease;
        pointer-events: none;
      }

      input,
      textarea {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        color: #fff;
        padding: 10px;
        width: 100%;
        font-size: 16px;
        transition: all 0.3s ease;

        &:focus,
        &:not(:placeholder-shown) {
          outline: none;
          border-color: #ffcc00;
        }

        &:focus + label,
        &:not(:placeholder-shown) + label {
          top: -20px;
          font-size: 12px;
        }

        &::placeholder {
          color: #fff;
          opacity: 0.6;
        }
      }

      textarea {
        resize: vertical;
      }
    }

    .btn-primary {
      background-color: #ffcc00;
      border: none;
      border-radius: 0;
      padding: 15px 30px;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.3s ease;

      &:hover {
        background-color: #fff;
        color: #222;
      }
    }
  }
}

@media (max-width: 767px) {
  .projects {
    height: 90vh;
  }
  .vintage-text-art {
    display: none; /* Hide the vintage text on small screens */
  }

  .alternative-text {
    display: block; /* Show an alternative text on small screens */
    font-size: 10px;
    text-align: center;
  }
    .retro-footer {
      background-color: #000;
      color: #00ff00;
      padding: 50px 0;
      font-weight: 600;
      font-size: larger;
      h4 {
        font-family: "Courier New", Courier, monospace;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 600;
      }

      p {
        font-family: "Courier New", Courier, monospace;
        font-size: 15px;
      }

      .social-icons {
        li {
          display: inline-block;
          margin-right: 10px;

          a {
            color: #00ff00;
            font-size: 20px;

            &:hover {
              color: #ff0000;
            }
          }
        }
      }
    }
  
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.flickering-lights {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 255, 0, 0.05) 50%,
      transparent
    );
    pointer-events: none;
    opacity: 0.5;
    animation: flicker 2s infinite;
  }
}

@keyframes blink {
  0%,
  100% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
